<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Solved #</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <% if task.competition.visible? %>
        <tr class="<%= current_user.submissions.for_task(task).passed.any? && "success" %>">
          <td><%= link_to task.name, task_path(task) %></td>
          <td><%= task.times_solved %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
