<table class="table">
  <thead>
    <tr>
      <th>Competition</th>
      <th>Tasks</th>
    </tr>
  </thead>
  <tbody>
    <% @competitions.each do |competition| %>
      <tr class="<%= competition_status_class(competition) %>">
        <td><%= link_to competition.name, competition_path(competition) %></td>
        <td><%= competition.tasks.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
