<table class="table">
  <thead>
    <tr>
      <td>Task</td>
    </tr>
  </thead>
  <tbody>
    <% @competition.tasks.each do |task| %>
      <tr class="<%= task_status_class(task) %>">
        <td><%= link_to task.name, task_path(task) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
