/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "bootstrap"
 *= require "bootstrap-responsive"
 */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Customize container */
.container {
  max-width: 730px !important;
}

.content {
  margin-top: 20px;
}

.sign-in-form {
  background: #f7f7f7;
  padding: 50px 0px 30px 0px;
  border-radius: 6px;
}

.textarea-code {
  width: 350px;
}

.code-submission {
  background: #f7f7f7;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

#submission_source {
  display: none;
}
