/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "bootstrap"
 *= require "bootstrap-responsive"
 */

/* Space out content a bit */
body {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-in-form {
  margin-top: 15px;
}

.sidebar-header {
  padding-top: 15px !important;
}

.textarea-code {
  width: 350px;
}

.code-submission {
  background: #f7f7f7;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

#submission_source {
  display: none;
}

.uneditable-input {
  cursor: pointer !important;
}

.evaluation {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border: 0px 2px 2px 2px solid black;
}

#sidebar {
  margin-top: 15px;
  border-right: 2px solid black;
  height: 100%;
}

li.success {
  background-color: #d0e9c6;
}

.alert {
  margin-top: 15px;
}

tr.language td{
  width: 120px;
}
